.CSSTableGenerator {font-size:18px;color:#333333;width:50%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.CSSTableGenerator th {font-size:18px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.CSSTableGenerator tr {background-color:#ffffff;}
.CSSTableGenerator td {font-size:18px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.CSSTableGenerator tr:hover {background-color:#ffff99;}
